# 20200514, was this, trying to fix segmentation fault in scipy convexhull
#numpy>1.18

# this has to be firs otherwise others often fail?
numpy

PyQt5==5.13.0
QtPy

napari

# these are installed by napari
#PySide2
#QtPy


matplotlib
tifffile
scikit-image
h5py

# see requirements-bioformats.txt
#javabridge
#python-bioformats

# reserve this for scripting
#skan # skeleton tracing (requires numba and pandas)
#numba

pandas

chart_studio
plotly

# see requirements-analysis.txt
#seaborn
#statsmodels

# now using scipy
#edt # for euclidean distance transform

#20200829
PyQtGraph

#20200908
qdarkstyle

# conflicts with qtpy
#opencv-python
# does not caintain video writer
#opencv-python-headless
# working 20210102 on macOS
opencv-contrib-python-headless
